<ul class="nav navbar-nav">
    <li><a href="/Help/Index">API</a></li>

    <li><a href="/">Index</a></li>
    <li><a href="#sum/11/22">Sum</a></li>
</ul>
<ul class="nav navbar-nav navbar-right" ng-controller="AuthCtrl">
    <li ng-hide="isLogedOut">
        <a href="/#/userInfo">{{userLabel}}</a>
    </li>
    <!--<li ng-hide="isLogedIn">
        <a href="/#/login">Login</a>
    </li>-->
    <li ng-hide="isLogedIn">
        <form name="loginForm" class="form-horizontal form-inline">
            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="username" type="text" ng-pattern="/^[a-zA-Z0-9]{6,100}$/" required placeholder="Username" ng-model="user.username" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="password" type="password" ng-pattern="/^[a-zA-Z0-9]{6,100}$/" required placeholder="Password" ng-model="user.password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="/#/" ng-click="login(user, loginForm)">Login</a>
                </div>
            </div>
        </form>
    </li>
    <li>
    <li ng-hide="isLogedIn">
        <a href="/#/register">Register</a>
    </li>
    <li ng-hide="isLogedOut">
        <a href="/#/logout" ng-click="logout()">Logout</a>
    </li>
</ul>
