<div ng-controller="ImagesCtrl">
    <div>
        <a ng-click="getAll()" href="#/getAllImages">Refresh</a>
        <a ng-click="deleteAll()" href="#/getAllImages">DeleteAll</a>
    </div>

    <hr />
    <div>
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="image in images">
                    <td><img class="img-rounded" ng-src="/Files/Images/{{image.Url}}" height="40" width="40" alt="{{image.Title}}" title="{{image.Title}}" /></td>
                    <td>{{image.Title}}</td>
                    <td>
                        <form name="deleteForm">
                            <a ng-click="delete(image.Id, deleteForm)" href="" class="glyphicon glyphicon-trash"> Delete</a>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>