<div>
    <ul class="nav navbar-nav">
        <li ng-show="isLogedIn"><a href="/Help/Index">API</a></li>
        <li ng-show="isLogedIn"><a href="/#/addImage">Add Image</a></li>
        <li><a href="#sum/11/22">Sum</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li ng-show="isLogedIn">
            <a href="/#/userInfo">{{userLabel}}</a>
        </li>
        <li ng-hide="isLogedIn">
            <form name="loginForm" class="form-horizontal form-inline menuLoginForm">
                <div class="form-group">
                    <div class="col-md-2">
                        <input class="form-control" id="username" type="text" ng-pattern="/^[a-zA-Z0-9]{6,100}$/" required placeholder="Username" ng-model="user.username" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <input class="form-control" id="password" type="password" ng-pattern="/^[a-zA-Z0-9]{6,100}$/" required placeholder="Password" ng-model="user.password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <a href="" ng-click="login(user, loginForm)">Login</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <a href="/#/register">Register</a>
                    </div>
                </div>
            </form>
        </li>
        <!--<li ng-hide="isLogedIn">
            <a href="/#/" ng-click="login(user, loginForm)">Login</a>
        </li>
        <li ng-hide="isLogedIn">
            <a href="/#/register">Register</a>
        </li>-->
        <li ng-show="isLogedIn">
            <a href="" ng-click="logout()">Logout</a>
        </li>
    </ul>
</div>
