<div>
    <h1>Register Page</h1>
    <form ng-hide="isLogedIn" name="registration" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label" for="username">UserName</label>
            <div class="col-md-10">
                <input class="form-control" id="username" type="text" ng-pattern="/^[a-zA-Z0-9]{6,100}$/" required placeholder="UserName" ng-model="user.username" /><br />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="email">Email</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="email" required placeholder="Email" ng-model="user.email" /><br />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="pass">Password</label>
            <div class="col-md-10">
                <input class="form-control" id="pass" type="password" ng-pattern="/^[a-zA-Z0-9]{6,100}$/" required placeholder="Password" ng-model="user.password" /><br />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="confirm">Confirm Password</label>
            <div class="col-md-10">
                <input class="form-control" id="confirm" type="password" ng-pattern="/^[a-zA-Z0-9]{6,100}$/" required placeholder="ConfirmPassword" ng-model="user.confirmpassword" /><br />
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" ng-click="register(user, registration)" />
            </div>
        </div>
    </form>
    <h2 ng-show="isLogedIn">
        You are logged in!
    </h2>
</div>